@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
@page
@model Ans.Net8.Web.Areas.Ans.Pages.system.mapnodesResetModel
@{
	Current.Page.Title = Ans.Net8.Web.Resources.UI.Text_MapNodes;
}
<p>@Ans.Net8.Web.Resources.UI.Text_MapNodesUpdated.ToHtml().</p>