@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
@page
@model Ans.Net8.Web.Models.SitePageModel
@{
	Current.Page.Title = "Ans.Net8.Web classes";
}

<div class="row row-cols-1 row-cols-md-2">
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(CssBuilder))' />
	</div>
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(DictIntHtml))' />
	</div>
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(DictStringHtml))' />
	</div>
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(LinkBuilder))' />
	</div>
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(QueryStringHelper))' />
	</div>
	<div class="col">
		<partial name="~/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(StyleBuilder))' />
	</div>
</div>