@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
@page
@model Ans.Net8.Web.Models.SitePageModel
@{
	Current.Page.HideInBreadcrumbs = true;
	Current.Page.Title = "Ans Help";
}

<ul>
	<li>@Current.Page.SlaveLink("common", "Ans.Net8.Common")</li>
	<li>@Current.Page.SlaveLink("web", "Ans.Net8.Web")</li>
</ul>

<hr class="mt-5"/>
<p>
	RemoteIpAddress: <code>@Current.Network.RemoteIpAddress</code>
</p>