@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
@model string
@if (!string.IsNullOrEmpty(Model))
{
	Current.Page.HideTitle = true;
	<div class="mb-5 text-center">
		<img class="img-fluid" style="max-height:25rem;" src="@Model" alt="@Model.ToHtml()" />
	</div>
}