@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@

<div class="row row-cols-1 row-cols-md-2 gy-5">

	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(HostData), Current.Host)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(RequestData), Current.Request)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(MapsData), Current.Maps)' /></div>

	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(CurrentContext), Current)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(SiteProfile), Current.Site)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(NodeProfile), Current.Node)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(PageProfile), Current.Page)' /></div>

	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(AuthService), Current.Auth)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(CacheService), Current.Cache)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(CookiesService), Current.Cookies)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(NetworkService), Current.Network)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(QueryStringService), Current.QueryString)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(RenderService), Current.Render)' /></div>
	<div class="col"><partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(WebApiService), Current.WebApi)' /></div>

</div>
