@*
	Компонент библиотеки Ans.Net8.Web.
	Код не предназначен для редактирования и компиляции во время выполнения!
*@
@model Type
@{
	var info1 = new ObjInfoBuilder(Model);
	var name1 = info1.InfoType.GetCSharpTypeName();
}

<h4 id="@name1">@name1</h4>
@{
	var code1 = new StringBuilder();

	code1.AppendLine($"public enum {name1}\n{{");

	foreach (var item1 in Enum.GetNames(Model))
		code1.AppendLine($"{item1} =,");

	foreach (var item1 in Enum.GetValues(Model))
		code1.AppendLine($"= {item1},");

	code1.AppendLine($"}}");
}

<pre><code class="language-csharp line-numbers py-1">@SuppTypograph.GetText2Html(code1.ToString())</code></pre>
