@*
	Компонент библиотеки Ans.Net8.Web.
	Код не предназначен для редактирования и компиляции во время выполнения!
*@
@{
	var parents1 = (Current.IsOn("Page.Title.Parents"))
		? Current.Page.ParentsTitles
			.Make("<span class=\"d-block opacity-75 fs-6 fw-light\">{0}</span> ")
		: null;
}
<h1 class="my-4">@parents1.ToHtml()@Current.Page.TitleHtml</h1>